[META]
# Your planet's name
name=Nuxeo Blogs
subtitle=Open Source ECM
# Link to the main page
link=http://blogs.nuxeo.com/
# Your name
owner_name=Stefane Fermigier
# Your e-mail address
owner_email=sf@nuxeo.com

#### Feeds

[ebarroca]
title=Eric Barroca's Blog
description=See what's cooking for Nuxeo direct from our CEO
url=http://feeds.feedburner.com/nuxeo-barroca
home=http://www.ebarroca.com/

[sfermigier]
title=Stefane Fermigier's Blog
description=Insights from Nuxeo's founder and Open Source trailblazer
url=http://blogs.nuxeo.com/fermigier/atom.xml
home=http://blogs.nuxeo.com/fermigier/

[fguillaume]
title=Florent Guillaume's Blog
description=Take a closer look at Nuxeo's technical strategy 
url=http://blogs.nuxeo.com/fguillaume/atom.xml
home=http://blogs.nuxeo.com/fguillaume/

[rbenedetti]
title=Roland Benedetti's Blog
description=Learn how our roving VP of Products and Marketing keeps a handle on all of our moving targets. 
url=http://rolandbenedetti.com/feed/
home=http://rolandbenedetti.com/

[dev]
title=Developers' Blog
description=Geek out with our devs and get the latest and greatest code straight from the source
url=http://blogs.nuxeo.com/dev/atom.xml
home=http://blogs.nuxeo.com/dev/

[marketing]
title=Marketing Blog
description=Sharing with you the best of what we have to offer
url=http://blogs.nuxeo.com/marketing/atom.xml
home=http://blogs.nuxeo.com/marketing/

[lounge]
title=Nuxeo Lounge
description=Cool features in casual applications
url=http://blogs.nuxeo.com/lounge/atom.xml
home=http://blogs.nuxeo.com/lounge/

[nxthemes]
title=Nuxeo Theme
description=Blog about Nuxeo Theme, the theming engine for Nuxeo
url=http://nxthemes.wordpress.com/feed/
home=http://nxthemes.wordpress.com/
